spring:
  application:
    name: users-service

  datasource:
    url: jdbc:h2:mem:usersdb;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    driver-class-name: org.h2.Driver
    username: sa
    password:

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  h2:
    console:
      enabled: true
      path: /h2-console

server:
  port: 8081

management:
  endpoints:
    web:
      exposure:
        include: "*"

# When you add Eureka later, uncomment and change host to "http://eureka:8761/eureka/"
# eureka:
#   client:
#     service-url:
#       defaultZone: http://eureka:8761/eureka/
